// title
h1 {
    margin: 0 auto;
    font-family: Shamber;
    padding-top: 15px;
    a {
      color: black;
      &:hover {
        color: black;
        text-decoration: none;
      }
    }
    @media (min-width: 500px){
        width: 80%;
        font-size: 45px;
    }
    @media (min-width: 700px){  
        width: 75%;
        font-size: 55px;
    }
    @media (min-width: 960px){  
        width: 80%;
       font-size: 55px;
       text-align:center;
    }
    @media (min-width: 1200px){  
      width: 100%;
       padding-left: 220px;
       font-size: 55px;
       text-align:center;
    }
}

//fall must haves headline, lead and shop now button
.shop-now {
    @media(min-width: 800px){
        margin-top: 120px;
        //width: 60%;
    }
    @media(min-width: 1200px){
        margin-top: 120px;
        width: 60%;
    }
}

//shop-now-title
.shop-now-title{
    @media (min-width: 400px){
        font-size: 30px;
    }
    @media (min-width: 700px){
        margin-left: 5%;
    }
    @media (min-width: 900px){
        font-size: 40px;
        margin-left: 20%;
    }
    @media (min-width: 1200px){
        margin-left: 10%;
    }
}


//shop-now-btn
.shop-now-btn {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 15px 50px;
    &:hover{
        color: black;
        background-color: white;
        border-color: black;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 16px, rgba(0, 0, 0, 0.1) 0px 0px 5px;
    }
    &.btn-primary:focus{
        box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
        outline: 1px solid white;
    }
    &.btn-primary:not(:disabled):not(.disabled):active{
        background-color: white;
        color: black;
        border: 1px solid black;
    }
    a {
        color: black;
        &:hover {
            color: black;
            text-decoration: none;
        }
    }
    @media (min-width: 400px){
        margin-left: 35%;
    }
    @media (min-width: 700px){
        margin-left: 40%;
    }
    @media (min-width: 900px){
        margin-left: 35%;
    }
    @media (min-width: 1200px){
        margin-left: 30%;
    }
}


//shop-now-sub
.shop-now-sub {
    @media (min-width: 400px){
        margin-left: 10%;
    }
    @media (min-width: 700px){
        margin-left: 23%;
    }
    @media (min-width: 900px){
        margin-left: 20%;
    }
    @media (min-width: 1200px){
        margin-left: 5%;
    }
}
